:root{
  --primaryColor:#f1f1f1;
  --black:#222;
  --black2:#555;
  --black3:#252525;
  --black4:#000;
  --black5:#212529;
  --orange:#eb0028;
  --white:#fff;
  --grey:#959595;
  --grey2:#666;
  --gray3:#ccc;
  --secondaryColor: #2b1f4d;
  --yellow:#ffcc00;
  --green:#59b210;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html{
  font-size: 62.5;
  box-sizing: border-box;

}
body,input{
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Archivo', sans-serif;
  color: var(--black);
}

a{
  text-decoration: none;

}

ul {
  list-style: none;
}

img {
  max-width: 100%;

}

h3,h4 {
  font-weight: 500;
}

/*Navigation bar start*/
nav{
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: 0.3s ease-in-out;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  padding: 12px;
  width: 85%;
  margin: auto;
  padding: 12px;
}

#navbar-logo img{
  width: 140px;
  height: 70px;
}

#navbar-links {
  display: flex;
  place-items: center;
  flex-direction: row;
}

#navbar-links ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

#navbar-links li {
  margin-left: 60px;

}

#navbar-links a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  -webkit-font-smooting:antialiased;
  font-size: 23px;
  transition: 0.3s ease-in-out;
}

#navbar-links ul a:hover {
  color: var(--orange);

}

#navbar-tools {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}

#navbar-tools a {
  display: flex;
  place-items: center;

}
.collection-tools span {
  background-color: red;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  color: var(--white);
  font-size: 13px;
  display: flex;
  justify-content: center;
  place-items: center;
  position: relative;
}


#navbar-tools span {
  bottom: 8px;
  right: 10px;

}


.wishlist-link {
  margin-left: 15px;

}

/*Menu Bar and Menu Page*/
#menu-bar{
  color: rgb(64, 64, 64);
  width: 30px;
  height: 30px;
  display: none;
  place-items: center;

}
#menu-page {
  background-color: #edf2fb;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  display: none;
}

#menu-page.active {
  display: flex;

}

#menu-page-wrapper {
width: 100%;
margin: auto;
text-align: center;

}

#menu-page-wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: column;

}

#menu-page-wrapper ul li {
  padding: 15px;
}
#menu-page-wrapper ul li a {
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smooting: antialiased;
}

#menu-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#menu-tools span {
  bottom: 35px;
  left: 10px;

}

#menu-page-wrapper .blue-button {
  padding: 30px 40px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 30px;
  background-color: var(--black2);
  color: var(--white);
  
}


.hero,
.hero .glide__slide{
  background-color: var(--primaryColor);
  position: relative;
  width: 100%;
  height: 100vh;

}
.hero .glide__bullet{
  background-color: var(--black);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  left: 40rem;
}

.hero .glide__arrow{
  padding: 1.5rem 1.7rem;
  opacity: 0;
  border: none;
  background-color: var(--grey);
  transition: all 0.5 ease-in-out 0.2s;

}

.glide__arrow:hover{
  background-color: var(--black);
}
.glide__arrow--left{
  left: 20rem;

}

.glide__arrow--right{
  position: absolute;
  right: 20rem;
}

.hero:hover .glide__arrow{
  opacity: 1;
}

.hero:hover .glide__arrow--left{
  left: 0rem;
  position: absolute;
  bottom: 20rem;
}
.hero:hover .glide__arrow--right {
  position: absolute;
  right: 0rem;
  bottom: 20rem;
}

.hero .glide__arrow svg{
  height: 1rem;
  width: 1rem;
  fill: var(--primaryColor);
}

.hero .glide__arrow{
  border-radius: 50%;
  position:absolute;
  bottom: 10rem;
}
.hero_center{
  display: flex;
  align-items: center;
  position: relative;
  max-width: 114rem;
  margin: auto;
  height: 100%;
  padding-top: 3rem;
}
.hero_left{
  padding: 0 3rem;
  flex: 0 0 50%;
  position: relative;
  left: 3rem;
}

.hero_btn{
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--black);
  color: var(--primaryColor);
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem;
  border: solid var(--black);
  transition: all 0.3 ease-in-out;
}

.hero_btn:focus{
  outline: none;

}

.hero_left .hero_btn:hover{
  font-weight: 700;
  background-color: transparent;
  color: var(--black);
}

.hero_left h1{
  margin: 1rem 0;

}

.hero_left p{
  margin-bottom: 1rem;

}

.hero_right{
flex: 0 0 50%;
position: relative;
text-align: center;
}

.hero_right img.banner_01 {
  width: 70%;
  padding-top: 3rem;

}

@media only screen and (max-width: 999px){
  .hero_center{
    flex-direction: column;
    text-align: center;
    padding-top: 2rem 3rem;

  }
  .hero_left{
    padding: 0;
    text-align: center;
    position: relative;
    left: 0;
  }
  .hero_right img{
    width: 55%;
  }
  .hero_btn{
    padding: 1.1rem 2.8rem;
  }
  .hero .glide__arrows{
    display: none;
  }
}

.section{
  padding: 3rem 0;
}

.collection{
  margin: 3rem 0;
}

.collection_container{
  width: 100%;
  padding: 0 1.6rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

}

.collection_box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: -3rem;
  flex: 0 0 48%;
  height: 15rem;
  background-color: var(--primaryColor);
}

.collection_box:not(:last-child){
  margin-right: 1.6rem;
}

.img_container{
  width: 25rem;
  text-align: center;
}

.collection_box img.collection_01 {
  width: 60%;
}
.collection_box img.collection_02 {
  width: 75%;
}

.collection_content{
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection_content span {
  color: var(--black);
}
.collection_content h1{
  margin-top: 0.5rem;
}

.collection_content a:link,
.collection_content a:visited{
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  padding: 1rem;
  margin-top: 1.3rem;
  border-radius: 3rem;
  color: var(--primaryColor);
  border: 2px solid var(--black2);
  background-color: var(--black2);
  transition: all 0.3 ease-in-out;

}

.collection_content a:hover{
  background-color: transparent;
  color: var(--secondaryColor);
}

@media only screen and (max-width: 999px){
  .collection_container {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    height: 50rem;
  }

  .collection_box{
    width: 100%;
    margin: 0 auto;
  }

  .collection_box:not(:last-child){
    margin: 0 0 1.6rem;

  }
}

@media only screen and (max-width:568px){
  .collection{
    margin: 0;
    position: relative;
  }

  .collection_container{
    width: 100%;
    height: 50rem;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    
  }

  .collection_box{
    justify-content: space-around;
    height: 15rem;
  }

  .collection_content{
    flex: 0 0 30%;

  }

  .collection_data span{
    font-size: 1.2rem;
  }
  .collection_data h1{
    font-size: 2rem;
  }
}

/*latest product*/
.title_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -4rem auto 6rem;
  padding: 2rem;
  background-color: var(--primaryColor);
}

.section_title:not(:last-child){
  margin-right: 1.5rem;

}

.section_title{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section_title h1{
  font-size: 1.9rem;
  font-weight: inherit;

}

.section_title .primary_title,
.section_title:hover span.dot,
.section_title:hover span.dot ::before{
  opacity: 1;
}

.section_title .primary_title{
  opacity: .6;
  padding-left: .5rem;
  transition: opacity .3s ease-in-out;
}

span.dot{
  opacity: .6;
  padding: .45rem;
  position: relative;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

}

span.dot::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--black);
  background-color: var(--black);
  margin: 1px;
  opacity: 0.6;
}

.section_title.active span.dot{
  opacity: 1;
}
.section_title.active span.dot::before{
  opacity: 1;
}
.section_title.active .primary_title {
  opacity: 1;
}

.product{
  position: relative;
  text-align: center;
}
.product ul i{
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--white);
  color: white;

}
.product ul {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 50%;
   left: 20%;
   width: 17rem;
   height: 5rem;
   background-color: rgba(255, 255, 255, 0.5);
   opacity: 0;
   visibility: hidden;
   transform: translate(-50%, -50%, ) scale(.7);
   transition: all 0,5s ease-in-out;
}

.product:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%, ) scale(1);
}

.product ul li:not(:last-child){
  margin-right: 1.6rem;
}

.product ul a {
  position: relative;
  display: flex;
  align-items: center;
  right: 2rem;
  justify-content: center;
  background-color: var(--orange);
  width: 3rem;
  height: 3.5rem;
  transition: 0.5s;
}

.product ul a:hover {
  background-color: var(--black);
}

.product ul a::before{
  content: "";
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  height: 0;
  width: 0;
  border-top: 3px solid var(--orange);
  border-left: 3px solid var(--orange);
  transition: .5s;
  opacity: 0;
  z-index: 1;

}

.product ul a::after{
  content: "";
  position: absolute;
  bottom: -.6rem;
  right: -.6rem;
  width: 0;
  height: 0;
  border-bottom: 3px solid var(--orange);
  border-right: 3px solid var(--orange);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;

}

.product ul a:hover::before{
  width: 126%;
  height: 126%;
  border-top: 3px solid var(--orange);
  border-left: 3px solid var(--orange);
  opacity: 1;
}


.product ul a:hover::after{
  width: 126%;
  height: 126%;
  border-bottom: 3px solid var(--orange);
  border-right: 3px solid var(--orange);
  opacity: 1;
}

@media only screen and (max-width: 568px) {
  .title_container{
    flex-direction: column;
  }
  .section_title:not(:last-child) {
    margin: 0 0 1.3rem;

  }
}

#product-category-container{
  margin-top: 45px;
}

#product-category-text{
  margin-bottom: 45px;
  display: flex;
  place-items: center;

}

.blue-line{
  height: 40px;
  width: 15px;
  margin-right: 15px;
  background-color: var(--black3);
  border-radius: 20px;
  

}
.section-category-text{
  color: rgba(64, 64, 64);
  font-weight: 500;
  font-size: 25px;
}

#product-category-container{
  margin: 0 4rem;

}

#product-category-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.product-categoty{
  width: 375px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  place-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 30px rgba(129, 129, 129, 0.1);
  transition: 0.3s ease-in-out;
}
.product-categoty:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.product-category-image-section{
  background-color: rgb(241,241,241);
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 10px;
  width: calc(150px - 20px);
  height: calc(100% - 20px);

}
.product-category-image-section img {
  object-fit: contain;
}


.product-category-desc-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  height: 100%;
  flex-grow: 1;
}

.product-category-desc-section .product-category-type{
  color: rgb(64, 64, 64);
  font-weight: 500;
  font-size: 18px;
}
.product-category-desc-section .product-category-number{
  color: rgb(137, 137, 137);
  font-size: 15px;

}

/* Product Section */
.product-section{
  text-align: center;
  margin-top: 80px;
  margin-left: 4rem;
  margin-right: 4rem;
}
.product-section-top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;

}
.section-category-container{
  display: flex;
  flex-direction: column;

}

.section-category-type{
  display: flex;
  place-items: center;
}

.section-category-container h1 {
  color: rgb(64, 64, 64);
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 40px;

}

.slideshow-buttons-container{
  display: flex;
  flex-direction: row;
}
.slideshow-button {
  background-color: var(--primaryColor);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  display: flex;
  justify-content: center;
  place-items: center;
  box-shadow: 0 2px 15px rgb(71, 71, 71 0.1);

}

.prev-button{
  margin-right: 15px;
}

.product-cards-container{
  width: 100%;
  display: flex;
  justify-content: start;

}

.product-cards-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;

}

.product-cards-container .product-card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(71, 71, 71, 0.1);
  text-align: left;
  overflow: hidden;
  transition: 0.8s ease-in-out;
  width: 260px;
  height: 350px;
}

.product-cards-container .product-card:hover {
  transform: scale(1.1);
}
.product-image-container{
  background-color: var(--primaryColor);
  padding: 20px;
  height: 198px;
  display: flex;
  justify-content: center;
  place-items: center;
  position: relative;


}

.product-image-container img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-image-container .heart-button{
  background-color: white;
  color: rgba(64, 64, 64);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

}
.product-image-container .heart-button svg{
  stroke: rgba(64, 64, 64);
  fill: none;
}

.product-image-container .heart-button.active svg{
  stroke: red;
  fill: red;
}

.product-text-container{
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

.product-text-container .blue-button{
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  margin-top: 20px;

}

.product-text-container .blue-button:hover{
  background-color: transparent;
  color: var(--black);
}

/*Promotion Section*/
.promotion-section{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 500px;
  margin: 110px auto;
  box-shadow: 0 10px 40px rgba(176,176,176,0.4);
  border-radius: 5px;
  overflow: hidden;
}

.promo-image-container{
  width: calc(570px - 100px);
  padding: 0 50px;
  height: 100%;
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  place-items: center;

}

.promo-image-container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.promo-image-container img:hover {
  animation: shake 0.5s linear infinite;
  cursor: pointer;
}
@keyframes shake {
  0%{
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.promo-text-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 0 80px;
  flex: 1;
  align-items: start;
}
.promo-heading{
  display: flex;
  flex-direction: rew;
  margin-bottom: 7px;

}

.promo-heading h1{
  color: var(--black2);
  font-weight: 500;
  font-size: 25px;
}
.promo-text-container h2 {
  color: var(--black3);
  font-weight: 500;
  font-size: 37px;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
}
.promo-text-container p {
  width: 100%;
  color: var(--grey2);
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  margin: 10px 0;
}

.promo-text-container .blue-button {
  margin-top: 12px;
  padding: 15px 35px;
  border-radius: 3px;
  font-size: 20px;
  background-color: var(--black);
  color: white;
}
.promo-text-container .blue-button:hover {
  margin-top: 12px;
  padding: 15px 35px;
  border-radius: 3px;
  font-size: 20px;
  background-color: var(--secondaryColor);
  color: var(--black);
}



/*Ipad section*/
.product-slider{
  background-color: var(--white);
  padding: 20px 20px;
  box-sizing: border-box;

}

.slider-heading{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 20px auto;
  padding: 0px 20px;
}

.slider-heading h3{
  font-size: 48px;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 34px;

}
.black-container{
  margin: 2rem 3rem 0;
}

.product-box{
  display: flex;
  flex-direction: column;
  width: 400px;
  text-decoration: none;
  background-color: var(--white);
  border-radius: 20px;
  margin: 20px;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all ease 0.3s;
}

.product-box:hover{
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.10);
  transform: scale(1.008);
  transition: all ease 0.3s;
}

.product-box strong {
  color: var(--black);
  font-size: 1.75rem;
  font-family: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 24px;

}

.product-box img {
  width: 210px;
  height: 250px;
  padding: 20px 0px;
  object-fit: contain;
  object-position: center;
  margin: 20px auto;

}

.available-colors{
  display: flex;
  justify-content: center;
  align-items: center;
}

.available-colors .product-color{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.03);
  margin: 3px;

}
.buy-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px;
}

.buy-price p {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  max-width: 250px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buy-price .buy-btn{
  color: var(--white);
  background-color: var(--black2);
  text-decoration: none;
  width: 80px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  transition: all ease-in-out;
}
.buy-price .buy-btn:hover{
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
  box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.03);
  border: 2px solid var(--black);
  padding: 6px;
}

.ISPager{
  display: none;
}
.ISActive > a{
  background-color: var(--black);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ISActive > a::after{
  position: absolute;
  content: '';
  margin: auto;
  border: solid var(--white);
  border-width: 0px 4px 4px 0px;
  display: inline-block;
  padding: 5px;
}
.ISActive > .ISPrev::after{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.ISActive > .ISNext::after{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/*Media query for the Ipad section*/
@media(max-width:600px){
  .slider-heading h1{
    font-size: 21px;
  }
  .product-box{
    width: 310px;
    margin: 10px;
    box-sizing: border-box;
  }
  .product-box img{
    width: 160px;
    height: 190px;
    padding: 8px;

  }
  .product-box strong{
    font-size: 21px;
  }
  .ISActive > a{
    display: none;
  }
  .product-slider{
    padding: 0px;
    
  }
}

@media(max-width:400px){
  .product-box{
    width: 280px;
  }
  .buy-btn{
    font-size: 0.8rem;

  }
  .buy-btn:hover{
    font-size: 0.8rem;
  }
}
  @media(max-width:324px){
    .product-box{
      width: 225px;
    }
    .product-box img{
      width: 140px;
      height: 165px;
    }
    .buy-price{
      flex-direction: column;
    }
    .buy-price .buy-btn{
      width: 100%;
    }
    .slider-heading h1{
      font-size: 18px;
    }
  }

  /*Footer Section*/
  .footer-container {
    background-color: #333;
    width: 100%;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-top: 20px;
    border-radius: 20px;
  }
  
  .container-first-group,
  .container-second-group,
  .container-last-group {
    flex: 1;
    min-width: 200px;
    margin: 20px;
  }
  .container-first-group .first-paragraph{
    font-size: 16px;
    padding-bottom: 30px;
  }
  .footer-form {
    padding: 30px 0;

  }
  .footer-form input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 20px;
  }
  
  .footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
  }
  
  .first-paragraph {
    margin-bottom: 20px;
  }
  
  .subcribe-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-form input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .subcribe-btn {
    padding: 10px 20px;
    background-color: var(--orange);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .subcribe-btn:hover {
    background-color: var(--orange);
  }
  
  .second-title,
  .last-group-tittle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .first-list {
    list-style: none;
    margin-top: 2rem;
  }
  
  .first-list a {
    color: #fff;
    font-size: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 10px;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s;
  }
  
  .first-list a:hover {
    color: var(--gray3);
  }
  
  .contact {
    margin-bottom: 20px;
  }
  
  .contact i {
    margin-right: 10px;
  }
  .last-group-tittle{
    margin-bottom: 40px;
  }
  .contact{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
  }
  
  .socia-media-icons i {
    font-size: 30px;
    margin-right: 15px;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .socia-media-icons i:hover {
    color: var(--orange);
  }
  .number{
    padding-bottom: 20px;
  }
  .footer_bar{
    font-size: .9rem;
    color: var(--white);
    text-align: center;
    position: relative;
    top: 4rem;
  }
  @media(max-width:324px){
    .footer-container{
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 500px) {
    #navbar-links, #navbar-tools {
      display: none;
    }

    #menu-bar {
      display: flex;
    }
    #navbar-logo img {
      width: 100px;
      height: 50px;
    }
  }